.DS_Store
*.log

# Ignore everything in .config by default
.config/*

# Whitelist tracked configs
!.config/aerospace/
!.config/alacritty/
!.config/btop/
!.config/fzf/
!.config/install/
!.config/neofetch/
!.config/nvim/
!.config/oh-my-posh/
!.config/shell/

# Ignore specific files within tracked folders
.config/nvim/lazy-lock.json
.config/shell/env
