console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[upgrade]
  source = 'cdn'
  interval = '168h'
  auto = false
  notice = false

[palette]
  black = '#282a36'
  red = '#ff5c57'
  green = '#5af78e'
  yellow = '#f3f99d'
  blue = '#57c7ff'
  magenta = '#ff6ac1'
  cyan = '#9aedfe'
  white = '#f1f1f0'
  grey = '#6c6c6c'

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    type = "session"
    style = "plain"
    background = 'transparent'
    foreground = "p:yellow"
    template = "{{ if .SSHSession }}󰢹 {{ end }}"

  [[blocks.segments]]
    type = "root"
    style = "plain"
    background = "transparent"
    foreground = "p:yellow"
    template = " "

  [[blocks.segments]]
    type = 'os'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:magenta'
    template = '{{ if .WSL }}WSL at {{ end }}{{.Icon}} ❯'

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:red'
    template = '{{if gt .Code 0}} Exit {{ .Code }}{{ if eq .Code 130 }} (SIGINT){{ else if eq .Code 134 }} (SIGABRT){{ else if eq .Code 136 }} (SIGFPE){{ else if eq .Code 137 }} (SIGKILL){{ else if eq .Code 139 }} (SIGSEGV){{ else if eq .Code 143 }} (SIGTERM){{ end }} {{ end }}'

  [[blocks.segments]]
    type = 'python'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:grey'
    template = ' {{ if .Env.CONDA_DEFAULT_ENV }}{{ else }}󰌠{{ end }} ({{ .Venv }})'

  [[blocks.segments]]
    type = 'path'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:grey'
    template = ' {{ .Path }}'

    [blocks.segments.properties]
      style = 'full'
