console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[upgrade]
  source = 'cdn'
  interval = '168h'
  auto = false
  notice = false

[palette]
  black = '#282a36'
  red = '#ff5c57'
  green = '#5af78e'
  yellow = '#f3f99d'
  blue = '#57c7ff'
  magenta = '#ff6ac1'
  cyan = '#9aedfe'
  white = '#f1f1f0'
  grey = '#6c6c6c'

[[blocks]]
  type = 'prompt'
  alignment = 'right'
  newline = true

  [[blocks.segments]]
    type = "path"
    style = "plain"
    background = 'transparent'
    foreground = "p:grey"
    template = "{{ .Path }}"

    [blocks.segments.properties]
      style = "full"

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = "session"
    style = "plain"
    background = 'transparent'
    foreground = "p:yellow"
    template = "{{ if .SSHSession }}󰢹 {{ end }}"

  [[blocks.segments]]
    type = "root"
    style = "plain"
    background = "transparent"
    foreground = "p:yellow"
    template = " "

  [[blocks.segments]]
    type = 'os'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:magenta'
    template = '{{ if .WSL }}WSL at {{ end }}{{.Icon}} ❯'

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:red'
    template = '{{if gt .Code 0}} Exit {{ .Code }}{{ if eq .Code 130 }} (SIGINT){{ else if eq .Code 134 }} (SIGABRT){{ else if eq .Code 136 }} (SIGFPE){{ else if eq .Code 137 }} (SIGKILL){{ else if eq .Code 139 }} (SIGSEGV){{ else if eq .Code 143 }} (SIGTERM){{ end }} {{ end }}'

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:cyan'
    template = ' {{ .HEAD }} '

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:white'
    foreground_templates = [
      "{{ if or (gt .Ahead 0) (gt .Behind 0) }}p:red{{ end }}",
    ]
    template = '{{ if .UpstreamGone }}{{ else }}{{ .UpstreamIcon }}{{ if gt .Ahead 0 }} ⇡{{ .Ahead }}{{ end }}{{ if gt .Behind 0 }} ⇣{{ .Behind }}{{ end }}{{ end }}'

    [blocks.segments.properties]
      fetch_status = true
      fetch_upstream_icon = true
      source = "cli"
      [blocks.segments.properties.ignore_submodules]
        "*" = "untracked"

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:white'
    template = '{{ if .LatestTag }} ({{ .LatestTag }}){{ end }}'

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:green'
    template = '{{ if and (not .Working.Changed) (not .Staging.Changed) }} 󰄬{{ end }}'

    [blocks.segments.properties]
      fetch_status = true
      source = "cli"
      [blocks.segments.properties.ignore_submodules]
      "*" = "untracked"

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:red'
    template = '{{ if gt .Working.Modified 0 }}  {{ .Working.Modified }}{{ end }}{{ if gt .Working.Added 0 }} 󰜄 {{ .Working.Added }}{{ end }}{{ if gt .Working.Deleted 0 }}  {{ .Working.Deleted }}{{ end }}{{ if gt .Working.Untracked 0 }} 󰛑 {{ .Working.Untracked }}{{ end }}'

    [blocks.segments.properties]
      fetch_status = true
      source = "cli"
      [blocks.segments.properties.ignore_submodules]
      "*" = "untracked"

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:yellow'
    template = '{{ if gt .Staging.Modified 0 }}  {{ .Staging.Modified }}{{ end }}{{ if gt .Staging.Added 0 }} 󰜄 {{ .Staging.Added }}{{ end }}{{ if gt .Staging.Deleted 0 }}  {{ .Staging.Deleted }}{{ end }}'

    [blocks.segments.properties]
      fetch_status = true
      source = "cli"

  [[blocks.segments]]
    type = 'python'
    style = 'plain'
    background = 'transparent'
    foreground = 'p:grey'
    template = ' {{ if .Env.CONDA_DEFAULT_ENV }}{{ else }}󰌠{{ end }} ({{ .Venv }})'
